#libraryView {
    max-width: 960px; 
    margin: 0 auto; 
    margin-top: 20px; 
} 
header {
    display: flex; 
    justify-content: space-between; 
}

.empty-library-message {
    pointer-events: none;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    font-size: 20px; 
    position: absolute; 
} 

/* Book Cards */ 
.books {
    display: flex; 
    flex-wrap: wrap; 
} 


